.DS_Store
# these resources maintainted by hand
force-app/main/default/staticresources/full
force-app/main/default/staticresources/lean
force-app/main/default/staticresources/asmFull
force-app/main/default/staticresources/asmLean
force-app/main/default/staticresources/lib
force-app/main/default/staticresources/resource
force-app/main/default/staticresources/office
force-app/main/default/staticresources/officeResource
force-app/main/default/staticresources/external
*.zip
.sfdx